%h1.center BumbleBri
.parallax-container
  .parallax
    = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093118/Nhi's Website/brit10.jpg", class:'parallax', :alt => "Brittanie")

.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/brit6.jpg", :alt => "Brittanie")
        %span.card-title Taylor's Main Squeeze
      .card-content
        %i 
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/brit7.jpg", :alt => "Brittanie")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093118/Nhi's Website/brit2.jpg", :alt => "Brittanie")
      .card-content
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093119/Nhi's Website/brit3.jpg", :alt => "Brittanie")
      .card-content
      
.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093119/Nhi's Website/brit4.jpg", :alt => "Brittanie")
      .card-content
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/brit5.jpg", :alt => "Brittanie")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/brit8.jpg", :alt => "Brittanie")
      .card-content
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093121/Nhi's Website/brit9.jpg", :alt => "Brittanie")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/brit11.jpg", :alt => "Brittanie")
      .card-content
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093118/Nhi's Website/brit12.jpg", :alt => "Brittanie")
      .card-content
      
.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093117/Nhi's Website/brit1.jpg", :alt => "Brittanie")
      .card-content
