%h2.center Happy Birthday Nhi!

%p.container This website is dedicated to one of the greatest person I know. Even though you're a dick sometimes, I know theres nothing but love in your heart. Here you can see photos of some of the closest friends that they handpicked to show you how much you mean to us.

.parallax-container
  .parallax
    = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470095734/Nhi's Website/jeff3.jpg", class:'parallax', :alt => "Home")

.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093125/Nhi's Website/jeff11.jpg", :alt => "Home Picture")
        %span.card-title Wall Lake
      .card-content
        %i Thanks for bringing your tubes
        %br/
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093123/Nhi's Website/jeff12.jpg", :alt => "Home Picture")
        %span.card-title Wall Lake
      .card-content
        %i We should go again sometime.
.row.center.container
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093121/Nhi's Website/jeff9.jpg", :alt => "Home Picture")
        %span.card-title The Day I Touched Your Boobs
      .card-content
        %i Gross I actually touched them. Forever unclean.
  .col.s12.m6
    .card
      .card-image
        = image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093501/Nhi's Website/group4.jpg", :alt => "Home Picture")
        %span.card-title Bear Lake Year 3!
      .card-content
        %i The year we met Moose